.vs/
/*.zip
ImmersiveDaylightCycle-Core/bin/
ImmersiveDaylightCycle-Core/obj/
ImmersiveDaylightCycle-FikaBridge/bin/
ImmersiveDaylightCycle-FikaBridge/.vs/
ImmersiveDaylightCycle-FikaBridge/obj/
ImmersiveDaylightCycle-Server/src/*.js
ImmersiveDaylightCycle-Server/src/*.js.map
ImmersiveDaylightCycle-Server/node_modules/
/ImmersiveDaylightCycle-Server-CSharp/obj
/ImmersiveDaylightCycle-FikaModule/bin/Debug
